html {
	font-family: sans-serif;
}

.title {
	text-align: center;
}

.button {
    background-color: #4259f4;
    color: white;
    margin: auto;
    padding: 9px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100px;
    font-size: 17px;
    font-weight: lighter;
    border-radius: 12px;
}