<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Code to initialize with random numbers: Double (random.nextInt ())</string>
		</dict>
		<dict>
			<key>SpoilerButtonTitle</key>
			<string>A possible solution</string>
			<key>Content</key>
			<string>var whiteUrn1 = 5.0;
var whiteUrn2 = 5.0;
var blackUrn1 = 10.0;
var blackUrn2 = 2.0;
var pChose = 0.5;
var pWhiteUrn1 = 0.0;
pWhiteUrn1 =  whiteUrn1 / (whiteUrn1 + blackUrn1);
var pBlackUrn1 = 0.0;
pWhiteUrn1 = blackUrn1 / (whiteUrn1 + blackUrn1);
var pWhiteUrn2 = 0.0;
pWhiteUrn2 = whiteUrn2 / (whiteUrn2 + blackUrn2);
var pBlackUrn2 = 0.0;
pWhiteUrn2 = blackUrn2 / (whiteUrn2 + blackUrn2);
probStr1 = (pChose * pWhiteUrn1 + pChose * pWhiteUrn2) * (pChose * pWhiteUrn1 + pChose * pWhiteUrn2);
 probStr2 = pChose * pWhiteUrn1 * pWhiteUrn1 + pChose * pWhiteUrn2 * pWhiteUrn2;
</string>
		</dict>
	</array>
</dict>
</plist>
