<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Istruzione per inizializzare con numero random: Double (random.nextInt ())</string>
		</dict>
		<dict>
			<key>SpoilerButtonTitle</key>
			<string>Una possibile soluzione</string>
			<key>Content</key>
			<string>var whiteUrn1 = 0.0
var whiteUrn2 = 0.0
var blackUrn1 = 0.0
var blackUrn2 = 0.0

var pChose = 0.5
var pWhiteUrn1 = 0.0
var pBlackUrn1 = 0.0
var pWhiteUrn2 = 0.0
var pBlackUrn2 = 0.0


whiteUrn1 = Double(random.nextInt())
whiteUrn2 = Double(random.nextInt())
blackUrn1 = Double(random.nextInt())
blackUrn2 = Double(random.nextInt())

pWhiteUrn1 = blackUrn1 / (whiteUrn1 + blackUrn1)

pWhiteUrn1 =  whiteUrn1 / (whiteUrn1 + blackUrn1)
pWhiteUrn2 = whiteUrn2 / (whiteUrn2 + blackUrn2)
pWhiteUrn2 = blackUrn2 / (whiteUrn2 + blackUrn2)
probStr1 = (pChose * pWhiteUrn1 + pChose * pWhiteUrn2) * (pChose * pWhiteUrn1 + pChose * pWhiteUrn2)
probStr2 = pChose * pWhiteUrn1 * pWhiteUrn1 + pChose * pWhiteUrn2 * pWhiteUrn2
</string>
		</dict>
	</array>
</dict>
</plist>
