<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Dichiara N.2 variabili `A`, `B` per memorizzare i numeri inseriti in input ed altrettante viabili per contenere la **somma**, **differenza**, **prodotto** e **quoziente**. ⚠️ ***Attenzione*** ai  tipi*** utilizzati.
***Es.: la divisione tra due numeri interi potrebbe restituire un risultato non intero***
</string>
		</dict>
		<dict>
			<key>Content</key>
			<string> Mostra a video i risultati ottenuti con la funzione `ask()`</string>
		</dict>
		<dict>
			<key>FileReference</key>
			<string>Solution.txt</string>
			<key>SpoilerButtonTitle</key>
			<string>Mostra soluzione</string>
		</dict>
	</array>
</dict>
</plist>
