<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.puzzleworld</string>
	<key>BaseContentVersion</key>
	<string>2.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Document1.playgroundchapter/Pages/0100B37D-0552-42D5-A4EE-C5E5DDDB302F.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/0100B37D-0552-42D5-A4EE-C5E5DDDB302F.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/0100B37D-0552-42D5-A4EE-C5E5DDDB302F.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/0D375869-8C22-4631-A086-5EB6AE403FBB.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/0D375869-8C22-4631-A086-5EB6AE403FBB.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/0D375869-8C22-4631-A086-5EB6AE403FBB.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/1349F0AE-F8A7-41AE-A1B5-654DE5C44E88.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/1349F0AE-F8A7-41AE-A1B5-654DE5C44E88.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/1349F0AE-F8A7-41AE-A1B5-654DE5C44E88.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/187C4AFE-A962-4F64-B168-8C66BEDB0EB6.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/187C4AFE-A962-4F64-B168-8C66BEDB0EB6.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/187C4AFE-A962-4F64-B168-8C66BEDB0EB6.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/1F0355A1-A08F-40F5-870D-0153242BBD70.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/1F0355A1-A08F-40F5-870D-0153242BBD70.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/1F0355A1-A08F-40F5-870D-0153242BBD70.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/2BBDB12C-3B31-4D4D-8BAC-E9F77E7A76A7.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/2BBDB12C-3B31-4D4D-8BAC-E9F77E7A76A7.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/2BBDB12C-3B31-4D4D-8BAC-E9F77E7A76A7.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/2F6D1996-F939-42CE-B1A6-0873975ED998.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/2F6D1996-F939-42CE-B1A6-0873975ED998.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/2F6D1996-F939-42CE-B1A6-0873975ED998.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/3B65F642-A8AB-450B-A094-A1AD3F787D4B.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/3B65F642-A8AB-450B-A094-A1AD3F787D4B.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/3B65F642-A8AB-450B-A094-A1AD3F787D4B.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/42709759-C582-440E-B3D4-ADF13FD4E474.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/42709759-C582-440E-B3D4-ADF13FD4E474.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/42709759-C582-440E-B3D4-ADF13FD4E474.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/4562C9D5-0061-4808-8B9D-1E03E01EED37.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/4562C9D5-0061-4808-8B9D-1E03E01EED37.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/4562C9D5-0061-4808-8B9D-1E03E01EED37.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/47134DB6-4723-4B95-9DD8-89916A1EA03D.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/47134DB6-4723-4B95-9DD8-89916A1EA03D.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/47134DB6-4723-4B95-9DD8-89916A1EA03D.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/528900EB-337D-43FF-A729-1251A4C92ABE.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/528900EB-337D-43FF-A729-1251A4C92ABE.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/528900EB-337D-43FF-A729-1251A4C92ABE.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/58614642-B784-4B60-AD8A-D6B19FFDBDAB.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/58614642-B784-4B60-AD8A-D6B19FFDBDAB.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/58614642-B784-4B60-AD8A-D6B19FFDBDAB.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/662569BA-D6B4-48C0-ABC5-1B8AEBEEEC71.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/662569BA-D6B4-48C0-ABC5-1B8AEBEEEC71.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/662569BA-D6B4-48C0-ABC5-1B8AEBEEEC71.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/7CBB3408-FEDA-46D8-8F5C-E1648755206D.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/7CBB3408-FEDA-46D8-8F5C-E1648755206D.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/7CBB3408-FEDA-46D8-8F5C-E1648755206D.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/7DD149CB-6A93-4626-AA9C-B417A241FF9E.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/7DD149CB-6A93-4626-AA9C-B417A241FF9E.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/7DD149CB-6A93-4626-AA9C-B417A241FF9E.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/8ED4AD2F-2BFE-4EC1-BF00-E5D19EB65F03.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/8ED4AD2F-2BFE-4EC1-BF00-E5D19EB65F03.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/8ED4AD2F-2BFE-4EC1-BF00-E5D19EB65F03.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/90074E8F-05FF-4F8E-9B15-F144F563560A.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/90074E8F-05FF-4F8E-9B15-F144F563560A.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/90074E8F-05FF-4F8E-9B15-F144F563560A.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/A2E59836-F0A3-465B-8CED-FAF996C9B6E9.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/A2E59836-F0A3-465B-8CED-FAF996C9B6E9.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/A2E59836-F0A3-465B-8CED-FAF996C9B6E9.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/A788121A-0C74-4838-A27A-917AEEE27AF5.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/A788121A-0C74-4838-A27A-917AEEE27AF5.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/A788121A-0C74-4838-A27A-917AEEE27AF5.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/B2BB3A60-F0AB-41CC-AB69-A1B95E4AD00E.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/B2BB3A60-F0AB-41CC-AB69-A1B95E4AD00E.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/B2BB3A60-F0AB-41CC-AB69-A1B95E4AD00E.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/CB2704E8-6CF8-4861-85FE-54A7A1BA2B57.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/CB2704E8-6CF8-4861-85FE-54A7A1BA2B57.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/CB2704E8-6CF8-4861-85FE-54A7A1BA2B57.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/D2E07E87-292F-4A2E-B332-95A332CB560E.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/D2E07E87-292F-4A2E-B332-95A332CB560E.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/D2E07E87-292F-4A2E-B332-95A332CB560E.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/DD28263D-3A98-466D-840E-9672C10A9ABA.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/DD28263D-3A98-466D-840E-9672C10A9ABA.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/DD28263D-3A98-466D-840E-9672C10A9ABA.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/E7932CAE-FAC3-4663-8B4F-5E25AE2DA900.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/E7932CAE-FAC3-4663-8B4F-5E25AE2DA900.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/E7932CAE-FAC3-4663-8B4F-5E25AE2DA900.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/EA239F2B-CD39-4E12-8FE9-D3CB236756EB.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/EA239F2B-CD39-4E12-8FE9-D3CB236756EB.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/EA239F2B-CD39-4E12-8FE9-D3CB236756EB.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/Pages/F632D84C-70C9-418C-8761-DA647FE84EBB.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/F632D84C-70C9-418C-8761-DA647FE84EBB.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Document1.playgroundchapter/Pages/F632D84C-70C9-418C-8761-DA647FE84EBB.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Document1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/MyFiles.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Modified</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>2.0</string>
</dict>
</plist>
