<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Casi possibili:  numero palline bianche + numero palline nere Casi favorevoli: numero palline bianche</string>
		</dict>
		<dict>
			<key>SpoilerButtonTitle</key>
			<string>Una possibile soluzione</string>
			<key>Content</key>
			<string>var whiteUrn1 = 5.0
var whiteUrn2 = 5.0
var blackUrn1 = 10.0
var blackUrn2 = 2.0
//probabilità di scegliere a caso una urna fra due
var pChose = 0.5

//probabilità di estrarre una pallina bianca o nera dalla prima urna
var pWhiteUrn1 = 0.0
pWhiteUrn1 =  whiteUrn1 / (whiteUrn1 + blackUrn1)
var pBlackUrn1 = 0.0
pWhiteUrn1 = blackUrn1 / (whiteUrn1 + blackUrn1)

//probabilità di estrarre una pallina bianca o nera dalla seconda urna

var pWhiteUrn2 = 0.0
pWhiteUrn2 = whiteUrn2 / (whiteUrn2 + blackUrn2)
var pBlackUrn2 = 0.0
pWhiteUrn2 = blackUrn2 / (whiteUrn2 + blackUrn2)

//probabilità di estrarre due pallina bianca scegliendo ogni volta l&apos;urna

 probStr1 = (pChose * pWhiteUrn1 + pChose * pWhiteUrn2) * (pChose * pWhiteUrn1 + pChose * pWhiteUrn2)

//probabilità di estrarre due pallina bianca scegliendo una sola volta l&apos;urna

 probStr2 = pChose * pWhiteUrn1 * pWhiteUrn1 + pChose * pWhiteUrn2 * pWhiteUrn2</string>
		</dict>
	</array>
</dict>
</plist>
